/Workshops/Unit 3/ws23/TaxDeclaration/nbproject/private/
/Workshops/Unit 3/ws23/TxLibrary/nbproject/private/
/Workshops/Unit 3/ws23/TaxLibrary/nbproject/private/
/Workshops/Unit 3/ws23/TaxLibrary/build/
/Workshops/Unit 3/ws23/TaxLibrary/dist/
/Workshops/Unit 3/WS22Modularity/BasicOperations/nbproject/private/
/Workshops/Unit 3/WS22Modularity/BasicOperations/build/
/Workshops/Unit 3/WS24Sorting/Sorting/nbproject/private/
/Workshops/Unit 3/WS24Sorting/Sorting/build/
/Assignments/Unit 3/HW17MatrixLibraries/Matrix/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixDeclaration/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixDeclaration/build/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixLibrary/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixLibrary/build/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixLibrary/dist/