/Workshops/Unit 3/ws23/TaxDeclaration/nbproject/private/
/Workshops/Unit 3/ws23/TxLibrary/nbproject/private/
/Workshops/Unit 3/ws23/TaxLibrary/nbproject/private/
/Workshops/Unit 3/ws23/TaxLibrary/build/
/Workshops/Unit 3/ws23/TaxLibrary/dist/
/Workshops/Unit 3/WS22Modularity/BasicOperations/nbproject/private/
/Workshops/Unit 3/WS22Modularity/BasicOperations/build/
/Workshops/Unit 3/WS24Sorting/Sorting/nbproject/private/
/Workshops/Unit 3/WS24Sorting/Sorting/build/
/Assignments/Unit 3/HW17MatrixLibraries/Matrix/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixDeclaration/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixDeclaration/build/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixLibrary/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixLibrary/build/
/Assignments/Unit 3/HW17MatrixLibraries/MatrixLibrary/dist/
/Assignments/Unit 3/HW17MatrixLibraries/HW18Searching/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/HW18Searching/build/
/Assignments/Unit 3/HW18Searching/Searching/nbproject/private/
/Assignments/Unit 3/HW18Searching/Searching/build/
/Workshops/Unit 3/WS25/Contacts/nbproject/private/
/Workshops/Unit 3/WS25/Contacts/build/
/Assignments/Unit 3/Nueva Carpeta/SearchingForm/nbproject/private/
/Assignments/Unit 3/Nueva Carpeta/SearchingForm/build/
/Workshops/Unit 3/WS26SortingIntegers/SortingIntegers/nbproject/private/
/Workshops/Unit 3/WS26SortingIntegers/Sortingintegers/nbproject/private/
/Workshops/Unit 3/WS26SortingIntegers/Sortingintegers/build/
/Workshops/Unit 3/WS26SortingIntegers/SortingIntegers/build/
/Assignments/Unit 3/HW20/Musical Instruments/nbproject/private/
/Assignments/Unit 3/HW20/MusicalInstruments/nbproject/private/
/Assignments/Unit 3/HW20/MusicalInstruments/build/
/Workshops/Unit 3/Nueva Carpeta/FarmSystem/nbproject/private/
/Workshops/Unit 3/Nueva Carpeta/FarmSystem/build/